@media (max-width:399px){
		.bey-heading {
	 		font-size: 1.75em;
		}
		.two-column-fluid-container img{
    		width: 90%;
    		min-width: 200px;
    		max-width:400px;
    		padding:1%;
		}	
}
@media (min-width:400px) and (max-width:849px){
		.bey-heading {
	 		font-size: 2.5em;
		}
		.two-column-fluid-container img {
			width: 60%;
    		min-width: 300px;
    		max-width: 600px;
}		
}

@media (min-width:850px){
		.bey-heading {
	 		font-size: 3em;
		}
		.two-column-fluid-container img{
    		width:45%;
    		padding:1%;
		}
}


.two-column-fluid-container {
    text-align: center;
    margin: 0 auto;
}
.two-column-fluid-container img {
		padding:1%;
}		
.bey-heading {
    text-align: center;
    font-family: 'Megrim', cursive;
}

hr{
	margin: 0px;
}
.directions {
    text-align: center;
    margin: 0 auto;
    padding: 15px 0px;
}
.header-date {
	padding:0px 10px;
}
.click-left, .twenty-seventeen-march-tenth{
	display:none;
}

/* line 21, ../sass/screen.scss */
.text--line {
  font-size: .5em;
}
/* line 25, ../sass/screen.scss */
.beyonce-live-container {
  width: 100%;
  height: 100%;
  top: 0;
   background: #ffd5d5;
    background-size: .12em 100%;
    font-family: "Montserrat";
    font-size: 13em;
}
/* line 32, ../sass/screen.scss */
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 7s infinite ease-in;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(1) {
  stroke: #29506d;
  stroke-dashoffset: 7%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(2) {
  stroke: #718ea4;
  stroke-dashoffset: 14%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(3) {
  stroke: #496d89;
  stroke-dashoffset: 21%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(4) {
  stroke: #123652;
  stroke-dashoffset: 28%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(5) {
  stroke: #042037;
  stroke-dashoffset: 35%;
}
@keyframes stroke-offset {
  /* line 51, ../sass/screen.scss */
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

  